.Rproj.user
.Rhistory
.RData
.Ruserdata

USBBS_modelling/1_model_fitting/stan_model_fitted/

USBBS_data/diversity_data/raw_USBBS/

USBBS_data/landscape_data/climate_elev_data/climate_raw/

USBBS_data/landscape_data/climate_elev_data/elevation_raw/

USBBS_data/landscape_data/landcover_data/landcover_change_product_extracted/

USBBS_data/map_predict_data/USA_predicted_eq_draws_matrix.rda

USBBS_data/map_predict_data/USA_predicted_delay_draws_matrix.rda

USBBS_data/map_predict_data/USA_landscape_predicted.dbf

USBBS_data/map_predict_data/USA_landscape_predicted.prj

USBBS_data/map_predict_data/USA_landscape_predicted.shp

USBBS_data/map_predict_data/USA_landscape_predicted.shx

USBBS_data/map_predict_data/USA_landscape_lc_climate.rda

USBBS_data/map_predict_data/USA_landscape_lc.rda

USBBS_data/map_predict_data/sampling_positions.rda

USBBS_data/model_ready_data/2years_x_timepoint/
